* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  background-color: darkorange;
  height: 200px;
}

.flex-item {
  color: white;
  background-color: red;
  width: 100%;
  margin: 10px;
}

.flex-item:nth-child(2) {
  color: red;
  background-color: white;
  align-self: flex-end;
}

.flex-item:nth-child(3) {
 align-self: stretch;
}

.flex-item:nth-child(5) {
  align-self: center;
 }

 .flex-item:nth-child(1) {
  order: 2;
 }

 .flex-item:nth-child(4) {
  order: 1;
 }
